<div class="container px-1">
  <h4 class="my-4">Preferences</h4>
  <section class="row">
    <div class="col-lg-6 my-3 my-lg-0">
      <div class="card">
        <div class="card-header">
          <span>Interface</span>
          <i class="fas fa-paint-brush"></i>
        </div>
        <div class="card-body">
          <div>
            <div>Theme</div>
            <select class="form-select w-25" (change)="this.interface.theme = $event.target.value">
              <option *ngFor="let t of themes" [value]="t.value" [selected]="t.value === interface.theme">{{t.name}}
              </option>
            </select>
          </div>
          <div>
            <div>Color Scheme</div>
            <div class="d-flex align-items-center color-scheme-picker">
              <div *ngFor="let s of colorSchemes"
                [ngClass]="interface.colorScheme === s.name ? 'shadow-sm border border-dark' : ''"
                [style]="'background-color: ' + s.color + ';'" (click)="interface.colorScheme = s.name">
                <span *ngIf="interface.colorScheme === s.name">&#10003;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3">
        <div class="card-header">
          <span>Account Settings</span>
          <i class="fa fa-user-cog"></i>
        </div>
        <div class="card-body">
          <button [routerLink]="['..', 'profile', 'edit']" class="btn btn-outline-dark w-100">
            Edit User Account
          </button>
        </div>
      </div>
    </div>
    <div class="col-lg-6 my-3 my-lg-0">
      <div class="card">
        <div class="card-header">
          <span>Notifications</span>
          <i class="fa fa-bell"></i>
        </div>
        <form [formGroup]="formGroup" class="card-body">
          <div>
            <div>Enabled</div>
            <div class="form-check form-switch">
              <input class="form-check-input ms-auto" type="checkbox" formControlName="enabled" />
            </div>
          </div>
          <div>
            <div>Chat Notifications</div>
            <div class="form-check form-switch">
              <input class="form-check-input ms-auto" type="checkbox" formControlName="chat" />
            </div>
          </div>
          <div>
            <div>Promotions</div>
            <div class="form-check form-switch">
              <input class="form-check-input ms-auto" type="checkbox" formControlName="promotions" />
            </div>
          </div>
          <div>
            <div>Updates</div>
            <div class="form-check form-switch">
              <input class="form-check-input ms-auto" type="checkbox" formControlName="updates" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</div>