<header class="masthead">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <div class="h1 text-center text-white">
          This is Cartesian UI!
        </div>
      </div>
    </div>
  </div>
</header>
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 my-3 my-lg-0">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex flex-column">
            <i class="fas fa-window-restore m-auto text-primary"></i>
            <h3 class="my-3">Fully Responsive</h3>
            <p class="lead mb-0">
              Cartesian UI will look great on any device, no matter the size!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex flex-column">
            <i class="fa fa-icons m-auto text-primary"></i>
            <h3 class="my-3">Bootstrap 5 Ready</h3>
            <p class="lead mb-0">
              Featuring the latest build of the new Bootstrap 5 framework!
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 my-3 my-lg-0">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex flex-column">
            <i class="fa fa-terminal m-auto text-primary"></i>
            <h3 class="my-3">Easy to Use</h3>
            <p class="lead mb-0">
              Ready to use with your own content, or customize the source files!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row g-0">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/bg-showcase-1.jpg');">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Fully Responsive Design</h2>
        <p class="lead mb-0">
          When you use Cartesian UI to start a project, you know that the theme will look great on any device,
          whether it's a phone, tablet, or desktop the page will behave responsively!
        </p>
      </div>
    </div>
    <div class="row flex-row-reverse g-0">
      <div class="col-lg-6 order-lg-2 showcase-img" style="background-image: url('assets/img/bg-showcase-2.jpg');">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Updated For Bootstrap 5</h2>
        <p class="lead mb-0">
          Newly improved, and full of great utility classes, Bootstrap 5 is leading the way in mobile responsive web
          development! Cartesian UI is now using Bootstrap 5!
        </p>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-6 order-lg-2 text-white showcase-img"
        style="background-image: url('assets/img/bg-showcase-3.jpg');">
      </div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Easy to Use & Customize</h2>
        <p class="lead mb-0">
          Cartesian UI is just a basic Angular Application with a splash of SCSS for users who demand some deeper
          customization
          options. Out of the box, just add your content and images, and your new app will be ready to go!
        </p>
      </div>
    </div>
  </div>
</section>
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img src="assets/img/testimonials-1.jpg" class="img-fluid rounded-circle mb-3">
          <h5>Margaret E.</h5>
          <p class="fw-light mb-0">"This is fantastic! Thanks so much guys!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img src="assets/img/testimonials-2.jpg" class="img-fluid rounded-circle mb-3">
          <h5>Fred S.</h5>
          <p class="fw-light mb-0">"Cartesian UI is amazing. I've been using it to create lots of super nice projects."
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img src="assets/img/testimonials-3.jpg" class="img-fluid rounded-circle mb-3">
          <h5>Sarah W.</h5>
          <p class="fw-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="call-to-action text-white text-center">
  <div class="container position-relative">
    <div class="row justify-content-center">
      <div class="col-xl-6">
        <h2 class="mb-4">
          Ready to get started?
        </h2>
        <a href="https://www.github.com/cartesianui/front-office-app" target="_blank" class="btn btn-dark">
          <i class="fab fa-github"></i>
          <span class="fw-bold ms-2">Clone it!</span>
        </a>
      </div>
    </div>
  </div>
</section>