<div class="col-12 row g-0">
  <div class="col-auto">
    <app-sidebar></app-sidebar>
  </div>
  <div class="col d-flex flex-column">
    <app-header></app-header>
    <router-outlet></router-outlet>
    <div class="w-100 mt-auto bg-light d-flex justify-content-between align-items-center p-4">
      <div>Copyright © 2022 - <a href="http://www.orenda.systems">Orenda Labs</a></div>
      <a href="http://www.github.com/cartesianui/front-office-app" target="_blank">
        <i class="fab fa-github fs-4"></i>
      </a>
    </div>
  </div>
</div>