.home {
  carousel {
    slide {
      img {
        height: 320px;
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  section {
    &:nth-child(odd) {
      background-color: var(--bs-light);
    }

    .card {
      transition: transform 0.5s;
    }

    .card:hover {
      transform: scale(1.1);
    }
  }
}
