<section class="account-form" [@routerTransition]>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-xl-10">
        <div class="card overflow-hidden rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6 d-flex align-items-center left-section bg-primary">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4 hero-message">
                <h4 class="mb-4">We are more than just a company</h4>
                <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="assets/svg/logo.svg" style="height: 92px;" alt="logo">
                  <h4 class="mb-5 mt-2 fw-light">Cartesian UI</h4>
                </div>

                <form autocomplete="off" novalidate [formGroup]="formGroup" (ngSubmit)="save()">
                  <p>Register a new account</p>

                  <div class="form-outline mb-4">
                    <label class="form-label">Email</label>
                    <input type="email" class="form-control" name="emailAddress" formControlName="email"
                      [ngClass]="getFormClasses(formGroup.controls['email'])" placeholder="johndoe@email.com" required
                      maxlength="256" />
                    <div
                      *ngIf="formGroup.controls['email'].touched && formGroup.controls['email'].dirty && formGroup.controls['email'].invalid"
                      class="text-danger text-right mb-3">
                      <span *ngIf="formGroup.controls['email'].errors">
                        {{ getError(formGroup.controls['email'].errors) }}
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="******"
                      [ngClass]="getFormClasses(formGroup.controls['password'])" name="password"
                      formControlName="password" />
                    <div
                      *ngIf="formGroup.controls['password'].touched && formGroup.controls['password'].dirty && formGroup.controls['password'].invalid"
                      class="text-danger text-right">
                      <span *ngIf="formGroup.controls['password'].errors">
                        {{ getError(formGroup.controls['password'].errors) }}
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label">Gender</label>
                    <select type="text" class="form-control" name="gender" required maxlength="64"
                      formControlName="gender" [ngClass]="getFormClasses(formGroup.controls['gender'])">
                      <option selected disabled hidden>Gender...</option>
                      <option value="male">Male</option>
                      <option value="female">Female</option>
                    </select>
                    <div
                      *ngIf="formGroup.controls['gender'].touched && formGroup.controls['gender'].dirty && formGroup.controls['gender'].invalid"
                      class="text-danger text-right">
                      <span *ngIf="formGroup.controls['gender'].errors">
                        {{ getError(formGroup.controls['gender'].errors) }}
                      </span>
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label">Date of Birth</label>
                    <input type="date" class="form-control" name="birth" placeholder="{{ 'Birth Date' | localize }}"
                      formControlName="dob" [ngClass]="getFormClasses(formGroup.controls['dob'])" />

                    <div
                      *ngIf="formGroup.controls['dob'].touched && formGroup.controls['dob'].dirty && formGroup.controls['dob'].invalid"
                      class="text-danger text-right">
                      <span *ngIf="formGroup.controls['dob'].errors">
                        {{ getError(formGroup.controls['dob'].errors) }}
                      </span>
                    </div>
                  </div>

                  <div class="d-flex pt-1 mb-5 pb-1">
                    <button type="submit" class="btn btn-primary btn-block ms-auto"
                      [disabled]="!formGroup.valid || loading">Register</button>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Already have an account?</p>
                    <button [routerLink]="['../login']" type="button" class="btn btn-outline-primary">{{ 'Login!' |
                      localize }}</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>