<div class="container d-flex justify-content-center">
  <div class="col col-lg-6 my-4 px-2 px-lg-0">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <strong>Profile</strong>
        <button [routerLink]="['edit']" class="btn btn-outline-info ms-auto"><i class="fa fa-user-edit"></i></button>
      </div>
      <div class="card-body">
        <div *ngIf="user">
          <p>
            <b>{{ user.name }}</b>
          </p>
          <div class="text-muted row justify-content-between">
            <div class="my-2 col-auto"><i class="fa fa-envelope"></i> {{ user.email }}</div>
            <div class="my-2 col-auto" *ngIf="user.gender">
              <i class="fa" [ngClass]="user.gender === 'male' ? 'fa-male' : 'fa-female'"></i>
              {{ user.gender }}
            </div>
            <div class="my-2 col-auto" *ngIf="user.birth"><i class="fa fa-birthday-cake"></i> {{ user.birth
              }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>